### BOOLEAN MASKING

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('netflix_titles_2021.csv')

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
twopower_sr=pd.Series([1,2,4,8,16,32,64,128,256,512,1024])

In [5]:
BM=[False,False,True,True,False,True,True,False,False,True,False]

In [6]:
twopower_sr[BM]

2      4
3      8
5     32
6     64
9    512
dtype: int64

In [7]:
BM=twopower_sr<=50

In [8]:
twopower_sr[BM]

0     1
1     2
2     4
3     8
4    16
5    32
dtype: int64

### COUNT OF MOVIES IN 2020 FOR EACH COUNTRY

In [9]:
BM=df.release_year==2020

In [10]:
df[BM].country.value_counts()

United States                             336
India                                      75
United Kingdom                             44
South Korea                                28
Canada                                     26
                                         ...
Germany, Czech Republic                     1
United States, Bulgaria                     1
United Kingdom, France, Germany, Spain      1
Thailand, United States                     1
United States, South Korea, China           1
Name: country, Length: 107, dtype: int64

In [11]:
df.rating.unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

### DISPLAY THE COUNT OF RATINGS OF TV SHOW IN EACH YEAR

#### PG-13

In [12]:
BM=df.rating=='PG-13'

In [13]:
df[BM].release_year.value_counts()

2016    34
2017    32
2018    30
2010    26
2015    25
2009    25
2008    24
2011    23
2020    21
2014    19
2012    19
2019    19
2005    16
2013    15
2007    15
2006    15
2002    14
2021    14
2000    10
2003    10
1995    10
1997     9
2001     8
1999     8
2004     7
1998     7
1996     6
1994     4
1993     4
1990     4
1988     3
1986     2
1989     2
1987     2
1991     2
1979     1
1992     1
1965     1
1968     1
1955     1
1984     1
Name: release_year, dtype: int64

#### TV-MA

In [14]:
BM=df.rating=='TV-MA'
df[BM].release_year.value_counts()

2018    549
2019    500
2020    469
2017    451
2016    341
2021    270
2015    184
2014     79
2013     64
2012     54
2010     42
2011     27
2008     25
2009     18
2006     17
2007     17
2004     10
2003      8
2005      8
1998      7
2002      7
1999      5
1991      5
1983      4
1993      4
1990      3
1992      3
1997      3
1985      3
1989      2
1978      2
1975      2
1945      2
1979      2
2001      2
1972      2
1982      2
1984      1
1973      1
1986      1
1981      1
1988      1
1970      1
1994      1
1977      1
2000      1
1987      1
1995      1
1963      1
1976      1
1967      1
Name: release_year, dtype: int64

#### TV-14

In [15]:
BM=df.rating=='TV-14'
df[BM].release_year.value_counts()

2018    268
2019    252
2017    251
2016    218
2020    174
       ...
1959      1
1925      1
1987      1
1958      1
1963      1
Name: release_year, Length: 66, dtype: int64

#### R

In [16]:
BM=df.rating=='R'
df[BM].release_year.value_counts()

2016    86
2017    73
2015    67
2018    52
2014    49
2020    48
2013    41
2019    39
2012    29
2010    26
2009    25
2021    21
2011    20
2008    19
2003    16
1997    16
2001    14
2007    14
2002    12
2006    12
1992    11
1999    10
2005    10
1996     9
1998     9
2000     8
2004     7
1993     6
1988     5
1980     5
1990     4
1995     4
1994     4
1973     3
1982     3
1986     2
1967     2
1979     2
1974     2
1987     2
1981     2
1991     2
1971     1
1976     1
1989     1
1962     1
1968     1
1972     1
1978     1
1984     1
Name: release_year, dtype: int64

### NO.OF COUNTRIES WHICH RELEASED SHOWS ON AUGUST 27 2021

In [17]:
BM=df.date_added=='August 27, 2021'
df[BM].country.value_counts()

India            18
, South Korea     1
Nigeria           1
Ireland           1
Name: country, dtype: int64

### NO OF MOVIES LISTED IN DOCUMENTARIES

In [18]:
BM=df.listed_in=='Documentaries'
df[BM].type.value_counts()

Movie    359
Name: type, dtype: int64

### NO OF INDIAN MOVIES IN THE YEAR 2021

In [19]:
BM=df.release_year==2021
df[BM].country.value_counts()

United States                     138
India                              31
United Kingdom                     22
South Korea                        19
Spain                              14
                                 ...
Norway, Denmark                     1
Israel, United States               1
United States, Czech Republic       1
Mauritius                           1
Canada, United States, Ireland      1
Name: country, Length: 75, dtype: int64

In [20]:
a=df["country"]=="India"

In [22]:
a.head()

0    False
1    False
2    False
3    False
4     True
Name: country, dtype: bool

In [23]:
BM=df.release_year==2021
a[BM].value_counts()

False    561
True      31
Name: country, dtype: int64